*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/background.jpg);
}
.container-fluid{
    position: relative;
}
form{
    width: 230px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}