<table>
	<tbody>
		{% for group in groupList %}
			<tr>
				<td id="groupname">
					<!-- group name -->
					{{ group.name}}
				</td>
				<td id="groupname">
					<!-- group description -->
					{{ group.description}}
				</td>
				<td>
                    <ul class="breadcrumb">
					<!-- operations -->

					<!-- show users -->
					<li><img src="img/User-Group.png"/><a href="groupUsersShow.php?group={{ group.id }}">Arata lista de Utilizatorii</a><span class="divider">/</span></li>
					<!-- edit users -->
					<li><img src="img/Edit-User.png"/><a href="groupUsersEdit.php?group={{ group.id }}">Redacteaza</a>&nbsp;&nbsp;</li>

					<!-- show functions -->
					<li><img src="img/List.png"/><a href="groupFunShow.php?group={{ group.id }}">Arata lista de Functii</a><span class="divider">/</span></li>
					<!-- edit functions -->
					<li><img src="img/Notes.png"/><a href="groupFunEdit.php?group={{ group.id }}">Redacteaza</a>&nbsp;&nbsp;</li>

					<!-- delete group -->
					<li><img src="img/users_delete.png"/><a href="groupDelete.php?group={{ group.id }}">Sterge grupa</a></li>
                     </ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>