<form action="groupFunEditSave.php" method="POST">
	<input type="hidden" name="groupId" value="{{ groupId }}"/>
	<table>
		<tbody>
			{% for fun in groupFuns %}
				<tr>
					<td>
						{{ loop.index }}
					</td>
					<td>
						<input type="checkbox" name="{{ fun.id }}" value="{{ fun.id }}" {% if fun.isOwned == 1 %} checked {% endif %}>
						{{ fun.name }}
						-
						{{ fun.description }}
						</input>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="submit" value="ok"/>
</form>
